---
layout: base.njk
---
<h2>Month Pages (title):</h2>
<ul>
    {% for month in collections.months %}
        <li><a href="{{ month.page.url }}">{{ month.data.title }}</a></li>
    {% endfor %}
</ul>

<h2>Month Pages (not title):</h2>
<ul>
    {% for month in collections.months %}
        <li><a href="{{ month.page.url }}">{{ month.data.nottitle }}</a></li>
    {% endfor %}
</ul>

<h2>Posts:</h2>
<ul>
    {% for post in collections.posts %}
        <li><a href="{{ post.page.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>