---
layout: base.njk
pagination:
    data: collections.contentByMonth
    size: 1
    alias: month
permalink: "{{ month }}/index.html"
eleventyComputed:
    title: "Posts from {{ month }}"
---

<h1>Title: {{ title }}</h1>
{% for post in collections.contentByMonth[month] %}
    <article>
        {{ post.content | safe }}
    </article>
{% endfor %}