---
tags:
    - posts
pagination:
    data: collections.contentByMonth
    size: 1
    alias: month
    addAllPagesToCollections: true
eleventyComputed:
    title: "Root Unused Pagination"
    nottitle: "The nottitle has been set too"
---
<h1>Unused Pagination Value Title: {{ title }}</h1>
<h1>Unused Pagination Value Not Title: {{ nottitle }}</h1>

<p>This page demonstrates that, even with a pagination block, the problem disappears for an input file that isn't in a subdirectory.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, modi maxime deserunt impedit error blanditiis, in at magnam suscipit consequuntur laboriosam doloremque ea? Rem laudantium at quas incidunt earum. Exercitationem?</p>