---
tags:
    - posts
eleventyComputed:
    title: "Root No Pagination"
    nottitle: "The nottitle has been set too"
---
<h1>Root Pagination Title: {{ title }}</h1>
<h1>No Pagination Not Title: {{ nottitle }}</h1>

<p>This page shows that the problem disappears if there is no pagination</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, modi maxime deserunt impedit error blanditiis, in at magnam suscipit consequuntur laboriosam doloremque ea? Rem laudantium at quas incidunt earum. Exercitationem?</p>